h1 {
    color : rgb(177, 32, 80);
}

h2 {
    color :rgb(141, 28, 66)
}

h3 {
    color :rgb(88, 17, 41)
}

#currentpage{
    color : rgb(218, 23, 136);
}

a{
    color :rgb(183, 28, 197);
}

p{
    color : rgb(253, 204, 234)
}

option{
    color : black;
}



nav ul{
    display: flex;
    list-style-type: none;
    margin: 0px -10px; 
}
  
nav ul li{
    flex: 1 1 20%;
    margin: 0px 10px;
    background-color: rgb(88, 17, 41);
}
  
nav ul li a{
    display: block;
    text-decoration: none;
    color: inherit;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    background-color: #BCBCBC;
    margin: 0 auto; 
    text-align: center; 
    height:100%;
    padding:0;
}

button{
    color: rgb(168, 24, 68);
    margin: 10px 10px;

}
    
