h1 {
    color : rgb(58, 107, 241);
}

h2 {
    color :rgb(43, 18, 185)
}

h3 {
    color :rgb(26, 7, 78)
}

#currentpage{
    color : rgb(107, 208, 255);
}

a{
    color :rgb(74, 183, 255);
}

p{
    color : rgb(175, 243, 255)
}

option{
    color : rgb(0, 6, 63);
    background-color: yellow;
}



nav ul{
    display: flex;
    list-style-type: none;
    margin: 0px -10px; 
}
  
nav ul li{
    flex: 1 1 20%;
    margin: 0px 10px;
    background-color: rgb(255, 192, 97);
}
  
nav ul li a{

    display: block;
    text-decoration: none;
    color: white;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    background-color: #BCBCBC;
    margin: 0 auto; 
    text-align: center; 
    height:100%;
    padding:0;
}

button{
    background-color : rgb(41, 33, 158);
    color: rgb(255, 212, 95);
    margin: 10px 10px;

}
    
